*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.nav{
    margin-top: -835px;
}

.navlist{
    list-style: none;
    display: flex;
    margin-top: 0px;
    font-size: larger;
    margin-left: 30vw;
    font-family: 'Arial Bold', sans-serif , 'Monofonto';
    position: fixed;
}

.navlist li{
    padding-left: 15px;
    padding-right: 15px;
}

.sign{
    margin-left: 350px;
}
a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.homeimg{
    
} 

.mainheading{
    color: white;
    margin-top: 120px;
    margin-left: 100px;
    font-size: 45px;
    font-weight:bolder;
}

.maintagline{
    color: white;
    margin-left: 100px;
    margin-top: 30px;
}